.header {
  padding: 10px 0;

  &__container {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }

  &__group {
    display: flex;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 1.9rem;
    color: #fff;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    span {
      padding-left: 7px;
    }

    svg {
      fill: #fff;
      stroke: #fff;
    }

    &:hover {
      background-color: lighten(rgb(12, 115, 254), 10);
    }
  }

  &__menu {
    svg {
      fill: #fff;
      width: 24px;
      height: 24px;
    }

    span {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }

  &__favorites {
    svg path {
      stroke: #fff;
      fill: #fff;
    }
  }

  &__search {
    svg {
      height: 25px;
      width: 23px;
    }
  }

  &__search-wrapper {
    display: flex;
    align-items: center;
    width: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms ease-in-out;
    margin-right: 15px;

    &.open {
      width: 360px;
      opacity: 1;
      visibility: visible;
    }

    input {
      border-radius: 15px;
      padding: 7px 20px;
      border: none;
      width: 100%;
    }
  }
}

.logo {
  display: flex;
  align-items: center;

  &__img {
    width: 100%;
    max-width: 50px;
    margin-right: 10px;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 600;
  }
}
